 

 
 body {
        background-color: rgb(210, 2, 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        color: rgb(255, 225, 0);
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif,poppins,'Times New Roman', Times, serif;
    }

    img {
        width: 400px;
        height: 400px;
    }

    p {
      
        color: white;
        font-size: 20px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif,poppins,'Times New Roman', Times, serif;
    }

    button{
        background-color: rgb(255, 225, 0);
        color: black;
        font-size: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif,poppins,'Times New Roman', Times, serif;
    }